body {
    justify-content: center;
    align-items: center;
    display: grid;   
}

#imagem {
    width: 381px;
    height: 353px;
    /* margin-left: 25px; */


}

.imagem{
    /* justify-content: center;
    align-items: center;
    display: flex;
     */

     margin-bottom: 10px;
}


.geral {
    margin-left: 90px;

}

.texto {
    width: 157px;
    height: 24px;
    margin-left: 2px;
}

.entrada {
    width: 200px;
    height: 16px;
    border-radius: 6px;
    border-width: 1px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.entradaSelect {
    width: 207px;
    height: 25px;
    border-radius: 6px;
    border-width: 1px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.botao {
    margin-top: 40px;
    margin-left: 90px;
    width: 207px;
    height: 22px;
    border-radius: 6px;
    border-width: 1px;
    padding: 4px, 3px, 4px, 12px;
    background-color: #284A5E;
    color: aliceblue;
    font-size: 12px;
}

.btModal {
    width: 100px;
    height: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

#modal {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 600px;

}

#l1 {
    margin-left: 25px;
    font-weight: bold;
}

#l2 {
    font-size: 11px;
    margin-left: 10px;
    margin-top: 10px;

}

#modelT {
    height: 200px;
    width: 300px;
    margin-left: 230px;
    margin-top: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

#resolver{
   margin-left: 60px; 
}

#btConcluir{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 40px;
}

.modalText{
    font-size: 18px;
}
