body {
    justify-content: center;
    align-items: center;
    display: grid;   
}

#imagem {
    width: 381px;
    height: 353px;
    /* margin-left: 25px; */


}

.imagem{
    /* justify-content: center;
    align-items: center;
    display: flex;
     */

     margin-bottom: 10px;
}


.geral {
    margin-left: 90px;
    line-height: 50px;
}

.texto {
    width: 157px;
    height: 24px;
    margin-left: 2px;
}

.entrada {
    width: 200px;
    height: 16px;
    border-width: 1px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    outline: none;
}

.entradaSelect {
    width: 207px;
    height: 25px;
    border-width: 1px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    outline: none;
}

.botao {
    margin-top: 40px;
    margin-left: 90px;
    width: 207px;
    height: 22px;
    border-radius: 6px;
    border: none;
    padding: 4px, 3px, 4px, 12px;
    background-color: #55555538;
    color: rgb(0, 0, 0);
    font-size: 12px;
    
}

button:hover{
    background-color: rgb(43, 157, 202);
}

.btModal {
    width: 100px;
    height: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

#containerModal{
    justify-content: center;
    align-items: center;
    display: flex;
}

#modal {
    border-radius: 10px;
}

#l1 {
    margin-left: 25px;
    font-weight: bold;
}

#l2 {
    font-size: 11px;
    margin-left: 10px;
    margin-top: 10px;

}

#containerModal2{
    align-items: center;
    justify-content: center;
    display: flex;
}

#modelT {
    height: 200px;
    width: 300px;
    border-radius: 10px;
 }

 #alinhaTexModal{
    margin-left: 55px;
 }

#btConcluir{
    font-size: 15px;
     margin-top: 20px;
    margin-left: 48px; 
    
}

.modalText{
    font-size: 18px;
}
